#logo
{
	width:200px;
	height:200px;
	float: left;
}

#imageLogo
{
	width:200px;
	height:200px;

}

#logoText
{
    float: left;
    width: 40%;
}
#imageText
{
	margin-top:25px;
	margin-left:10%;
	width:100%;
	height:150px;
}
#header
{
	background-color: rgb(249,242,238);
	height:200px;
}

#applicationButton {
    margin-top: 150px;
    margin-right: 2%;
    float: right;
    width: 10%;
    height: 50px;
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(239,226,205);
    color:rgb(99,166,236);
    cursor: pointer;
}

#dashboardButton
{
    margin-top: 150px;
    margin-right: 2%;
    float: right;
    width: 10%;
    height: 50px;
    text-align: center;
    font-family: sans-serif;
    background-color: white;
    color:black;
    cursor: pointer;
}

#dashText
{
    padding-top: 15px;

}

#content
{
	width: 100%;
	min-height:500px;
  height: auto;
	background-color: rgb(239,226,205);
}

#footer
{
	width: 100%;
	height:150px;
	background-color: rgb(249,242,238);
}

#appText
{
	padding-top: 15px;
}

#aboutUsText
{
	padding-top: 15px;

}
#aboutUsButton
{
    margin-top: 150px;
    margin-right: 2%;
    float: right;
    width: 10%;
    height: 50px;
    text-align: center;
    background-color: white;
    font-family: sans-serif;
    cursor: pointer;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  font-size: 12px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#slide-contents
{
	    width: 50%;
    height: 250px;
    margin-top: 30px;
    margin-left: 5%;
    float:left;
}
#downloadBox
{
	float: left;
	width:40%;
	height: 250px;
	    margin-top: 30px;
}
#imgReady
{
	width:250px;
	height:250px;
}

#logoAgain
{
	    background-color: white;
    width: fit-content;
    margin-top: 50px;
    margin-left: 45%;
}

#imgDownloadReady
{
    height: 100;
    width: 228px;
    margin-left: 46%;
        cursor: pointer;
   }


#aboutUsPageD
{
	width:100%;
	height:350px;
}
#ludisAnalytica
{
float: left;
    margin-top: 17px;
    margin-left: 18%;
    }
#teamL
{
    width: 150px;
    margin-left: 48%;
    height: 150px;
    margin-top: 80px;}

#textBox
{
width: 46%;
    float: left;
    margin-left: 6%;
    margin-top: 97px;
    height: 150px;
    background-color: rgb(242,232,207);
    }

#textDecorator
{
    font-size: 20px;
    padding: 36px;	
}

#dashboardPage
{
    width: 100%;
    min-height: 350px;
    margin-left: 5%;
    margin-top: 20px;
    display: inline-block;
}

#tableauPlaceholder
{
    width: 100%;
    overflow: hidden;
    margin-left: 5%;
    margin-top: 24px;
    display: inline-block;
}